doctype html
html
	head
		title Doodlers
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='description', content='')
		
	body
		#main-wrapper
			.main-container
				#canvasDiv
		button(onclick="convert()") Convert
		button(onclick="clearCanvas()") Clear


		#img-tags
	script(src="/javascripts/jquery-1.11.3.min.js")
	script(src="/javascripts/scripts.js")


