body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#canvasDiv{
	border: 5px solid red;
}

#header{
	margin-top:0px;
	margin-bottom: 60px;
}

#login-wrapper{
	position: absolute;
	left:50%;
}

.font-danger{
	color:red ;
}

#dash-wrapper{
	position: absolute;
	top:20%;
	left: 30%;
}