br
.row
    .col-xs-2
        span Hello
    .col-xs-8
        section.md-whiteframe-z3
            .row
                .col-xs-12.padding-normal
                    md-input-container(md-no-float)
                        textarea#write-here(placeholder="Write here... express your thoughts.... write as if you were waiting this moment....",ng-model="newpost.post")
            .row
                .col-xs-12
                    md-button.md-raised.pull-right(ng-click='newPost()')
                        span Express
            br

        br
        section.md-whiteframe-z3
            br
            span.padding-normal(ng-show="!posts.length") 
                span No recent post(s) to show.
                br
                br
            span.padding-normal(ng-show="posts.length") Showing recent post(s) 
                br
                br
                .each-post(ng-repeat="post in posts track by $index")
                    .row
                        .col-xs-6
                            .row
                                .col-xs-3
                                    span.badge.font-20.pointer(style="background-color:{{post.color_profile}}") {{post.first_name[0]}} {{post.last_name[0]}}
                            .row
                                .col-xs-6.pull-left
                                    span.font-14.fromNow {{post.fromNow}}
                            

                            br
                        .col-xs-6
                            .btn-group(class='dropdown', is-open='status.isopen').pull-right
                              button.btn(type='button', data-toggle='dropdown')
                                  span.caret  
                              ul.dropdown-menu(role='menu', aria-labelledby='single-button')
                                li(role='menuitem')
                                          a.pointer(ng-click='viewWhole($index)')
                                              span(ng-if="!post.viewWhole") View Whole
                                              span(ng-if="post.viewWhole") View Less
                                li(role='menuitem')
                                  a.pointer
                                    span Edit
                                li(role='menuitem')
                                  a.pointer
                                    span 
                    .row
                        .col-xs-1
                        .col-xs-11
                            .font-20.padding-normal#text-overflow(ng-show="!post.viewWhole") {{post.post}}
                            .font-20.padding-normal(ng-show="post.viewWhole") 
                                //- span {{post.post}} 
                                //- md-input-container(md-no-float)
                                .col-xs-12
                                    .full-post-dimension
                                        span {{post.post}}
                    hr
                            
    .col-xs-2
        span Razing Thoughts

                    
            
            
