script(src='/javascripts/jquery-1.11.3.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/angular.min.js')
script(src='/javascripts/angular-ui-router.min.js')
script(src='/javascripts/app.js')
script(src='/javascripts/angular-animate.min.js')
script(src='/javascripts/angular-aria.min.js')
	
script(src='/javascripts/angular-material.min.js')


