#login-wrapper
    section.md-whiteframe-z3
      .font-20.font-new-nimbus
        span Account Created
      .padding-signup
        .row
          span Your account has been successfully created.
        .row
          .col-xs-5
          .col-xs-6
            br
            md-button.md-raised(ui-sref="login")
              span Login
