#login-wrapper
  section.md-whiteframe-z3
    .font-20.font-new-nimbus
      span Sign Up
    .padding-signup
      form(name='signUpForm',novalidate)

          br
          

          .row
            .col-xs-6
              md-input-container.nofl(flex)
                label
                  span.fa.fa-user
                  | First Name
                input(type='text',ng-model="user.firstname",required)
            .col-xs-6
              md-input-container.nofl(flex)
                label
                  span.fa.fa-user
                  | Last Name
                input(type='text',ng-model="user.lastname",required)
          .row
            .col-xs-6
              md-input-container.nofl(flex)
                label
                  span.fa.fa-user
                  | Select Color Profile
                input(colorpicker="hex" type="text" ng-model="user.colorprofile",required)
            .col-xs-6
              md-content
                md-list
                  md-list-item
                    span i
          .row
            .col-xs-6
              md-input-container.nofl(flex)
                label
                  span.fa.fa-user
                  | Email Address
                input(type='text',ng-model="user.username",required)
            .col-xs-6
              md-input-container.nofl(flex)
                label
                  span.fa.fa-user
                  | Password
                input(type='password',ng-model="user.password",required)

              
              

              
          .row
            .col-xs-4
            .col-xs-8
          
              md-button.md-raised(ng-click='signUp()',ng-disabled='signUpForm.$invalid')
                  span Create Account
              br
              span.font-danger(ng-show='loginResponse.status')
                  | {{loginResponse.message}}

          br
          .row
            .col-xs-12
              span Already Have an account ? 
              
              span.pointer.underline(ui-sref='login') Login 
              span from here

    .font-20.font-new-nimbus
      span.font-14 expressions 
      span.font-20 . 
      span.font-14  thoughts 
      span.font-20 . 
      span.font-14   mood


              
